.case {
	&__title {
		padding: 1.9rem 0.2rem;

		@include breakpoint-up(large) {
			font-size: 2rem;
			padding-top: 6rem;
			padding-bottom: 4rem;
			text-align: center;
			max-width: 90vw;
		}
	}

	&__roles {
		min-width: 16rem;
		margin: 0 auto;
		padding: 1.8rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.description {
			padding-bottom: 1rem;
		}

		@include breakpoint-up(large) {
			max-width: 80vw;

			.container {
				display: flex;
				justify-content: space-between;
			}

			.left {
				flex: 3;
				text-align: right;
			}

			.right {
				flex: 4;
				padding-left: 20px;
			}

			.middle {
				border-right: 1px solid lightgray;
				margin: 0 1rem;
			}
		}
	}

	&__roleSingle {
		display: flex;
		margin-bottom: 0.6rem;
		line-height: 1.5rem;
		justify-content: space-evenly;
		text-align: left;

		h5:first-of-type {
			width: 6rem;
			font-weight: 100;
		}

		p {
			font-size: $font-sm;
			text-transform: uppercase;
			font-weight: 100;
		}
	}

	&__image-row {
		img {
			margin: 2px;
			width: 100%;
			object-fit: contain;
			@include breakpoint-up(large) {
				width: calc(50vw / 3);
				height: calc(50vw / 3);
			}
		}
	}

	&__image-col {
		p {
			padding-right: 10px;
		}
		img {
			margin: 2px;
			object-fit: contain;
			height: calc(100vw / 3);
		}
		div {
			width: 100px;
		}

		display: flex;
		align-items: space-between;
	}

	&__image {
		img {
			width: 100%;
			object-fit: contain;
		}

		.cap {
			font-size: 10px;
			line-height: 0.8rem;
			padding-bottom: 1rem;
		}

		.quote {
			font-size: 14px;
			border-left: 4px solid lightblue;
			padding-left: 10px;
			margin-top: 10px;
			font-style: italic;
			margin-bottom: 3rem;
		}

		@include breakpoint-up(large) {
			.cap,
			.quote {
				font-size: 14px;
				padding-top: 3px;
			}

			.quote {
				font-size: 17px;
				line-height: 1.8rem !important;
				padding-left: 20px;
				margin-top: 20px;
			}
		}
	}

	&__statement {
		min-width: 16rem;
		margin: 0 auto;
		padding: 1.8rem;

		@include breakpoint-up(large) {
			.statement {
				max-width: 75vw;

				margin: 0 auto;
				display: flex;
				flex-direction: row;

				div {
					flex: 7.5;

					p {
						width: auto;
					}
				}

				h3 {
					font-size: 2.25rem;
					padding-bottom: 2rem;
				}
			}

			h5 {
				display: flex;
				flex: 3;
				padding-top: 9px;
				font-size: 80px;
			}
		}

		ol {
			p {
				padding: 8px 0;
			}
		}

		h5 {
			font-weight: 100;
			text-transform: uppercase;
			font-size: 0.78rem;

			@include breakpoint-up(large) {
				font-size: 14px;
			}
			padding-bottom: 0.2rem;
		}

		h3 {
			padding-bottom: 0.8rem;
		}

		h4 {
			font-size: 1.2rem;
			font-weight: 800;
			padding-bottom: 20px;
		}

		p {
			padding-bottom: 14px;
		}
	}

	&__solution {
		h4 {
			padding: 1rem 0;
		}

		li:last-of-type {
			padding-bottom: 1rem;
		}

		img {
			padding-bottom: 4rem;
			max-height: 60vh;
		}

		@include breakpoint-up(large) {
			display: flex;
			flex-direction: row;
			paddking: 0 1rem;
		}
	}
}
