@import "variables";

.footer {
	background: $yellow;
	padding-top: 1.8rem;
	background: $yellow;

	@include breakpoint-up(large) {
		background: $yellow;
		padding-top: 1.8rem;
		background: $yellow;
		display: flex;
		justify-content: space-around;
	}

	&__left {
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex: 4;

		@include breakpoint-up(large) {
		}
	}

	&__right {
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex: 4;

		@include breakpoint-up(large) {
			align-items: flex-start;
		}
	}

	p {
		font-size: $font-sm;
		padding: 0.4rem 0;
	}

	div {
		padding: 0.7rem 0;
	}

	span {
		font-size: $font-sm;
		margin: 0 0.7rem;
		color: $orange;
	}
}
