// COlors
$darkBlue: hsl(233, 26%, 24%);
$yellow: #ffe7be;
$orange: #ff553e;
$light-orange: #fff5f5;
$beige: #fffef9;
$navyBlue: #1a2630;

//FONTS
$font-med: 1.125rem; //14px
$font-sm: 14px; //8px
$font-lg: 1.28rem;
